/* base */
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: #333333;
  font-family: "Roboto","sans-serif";
  line-height: 1.8;
  font-size: 14px;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: inherit;
}
/* global */
.sliders {
  margin: auto;
  /* display: flex; */
}
.sliders .slide {
  display: flex;
}
/* local */
header nav .image {
  width: 50px;
}

header nav .menuList {
  color: #ffffff;
  font-size: 16px;
}

header nav .menuList .item:nth-of-type(n+2) {
  margin-left: 15px;
}

main .videoItem {
  width: 100%;
}

footer {

}
footer .inner {
  display: flex;
  align-items: center;
  padding-left: 15px;
  width: 100%;
  height: 50px;
  color: #ffffff;
  background-color: #666666;
}
footer .inner address {
  margin: auto;
}